# ---- Python ----
__pycache__/
*.py[cod]
*$py.class
*.so

# ---- Django ----
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# ---- Virtualenv ----
venv/
ENV/
env/
.venv/

# ---- IDEs & Editors ----
.vscode/
.idea/
*.swp
*~

# ---- OS Files ----
.DS_Store
Thumbs.db

# ---- Testing & Coverage ----
.coverage
htmlcov/
.tox/
.mypy_cache/
.pytest_cache/

